# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
dist/

# Envs
.venv/
venv/
.env

# Notebooks / editors
.ipynb_checkpoints/
.DS_Store
*.swp
.idea/
.vscode/

# Outputs (scope to out/ only)
out/
out/**/*.png
out/**/*.csv
out/**/*.json
